[alias]
    b = branch -vv
    c = commit
    co = checkout
    f = fetch
    l = log --oneline --graph
    s = status
    ss = status -s
    tls = tag -l --sort version:refname
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
[commit]
    gpgSign = true
[push]
    default = simple
    gpgSign = if-asked
[rerere]
    enabled = true
[help]
    autocorrect = 1
[include]
    path = ~/.gitconfig.local
